[submodule "k4a-capture/external/Azure-Kinect-Sensor-SDK"]
	path = k4a-capture/external/Azure-Kinect-Sensor-SDK
	url = https://github.com/microsoft/Azure-Kinect-Sensor-SDK.git
[submodule "model-training/external/models"]
	path = model-training/external/models
	url = https://github.com/tensorflow/models.git
