.idea/
build/
cmake-build-debug/

/model-training/ipynb_checkpoints
/model-training/.ipynb_checkpoints
model-training/.ipynb_checkpoints

*.log
.DS_Store
.cache/
local/
*.pbtxt
*.data*
*.index
*.config
model-training/tfod-venv
